* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: lato;
    src: url(/fonts/lato/Lato-Regular.ttf);
}
@font-face {
    font-family: lato;
    src: url(/fonts/lato/Lato-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: lato;
    src: url(/fonts/lato/Lato-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: lato;
    src: url(/fonts/lato/Lato-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: lato;
    src: url(/fonts/lato/Lato-LightItalic.ttf);
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: lato;
    src: url(/fonts/lato/Lato-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
nav {
    font-family: lato;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 50px 0px;
}
.introduction {
    min-height: 90vh;
    text-align: center;
    font-family: lato;
    font-size: 36px;
}

.container {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: repeat(10, 100vh);
    align-items: center;
    margin-bottom: 100vh;
}

.descriptions {
    display: contents;
}

.description {
    grid-column: 3/4;
    text-align: center;
    justify-self: start;
    font-family: lato;
}

.block {
    position: fixed;
    width: 30%;
    height: 80px;
    /* background-color: red; */
    font-family: lato;
    font-size: 20px;
    text-align: end;
    line-height: 80px;
}

.footer-info {
    text-align: center;
    padding-bottom: 20px;
}
.footer-box {
    display: flex;
    justify-content: space-around;
}